<!DOCTYPE html>
<html>
<head>
    <!-- Head content -->
</head>
<body>
    @RenderBody() <!-- Renderiza el cuerpo de la vista -->
    @RenderSection("Scripts", required: false) <!-- Renderiza la sección de scripts -->
</body>
</html>